<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: gray;
    }

    .title {
      color: pink;
      font-size: 120px;
    }
  </style>
  <title>ansible lesson</title>
</head>

<body>
  <div class="main">
FROM ROLESSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
    <h2 class="title">SERVER IP: {{ ansible_ens33.ipv4.address }}</h2>
    <font color="gold">Owner this server is: {{ owner }}<br>
    Server Host Name: {{ ansible_hostname }}<br>
    Server OS Family is: {{ ansible_os_family }}<br>
   
    <div class="pic"><img src="./pic1.png"></div>
    <div class="pic"><img src="./pic2.png"></div>
    <div class="pic"><img src="./pic3.png"></div>
    <div class="pic"><img src="./pic4.png"></div>
  </div>

</body>

</html>
